@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari, and Opera */
      .no-scrollbar::-webkit-scrollbar {
        display: none;
      }
  
  
      /* Hide scrollbar for IE, Edge, and Firefox */
      .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }

      .img-size{
        max-width: 10%;
      }
    }
  } 

  html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Style for the footer */
footer {
  margin-top: auto; /* Pushes the footer to the bottom */
}

/* Minimum height for the content area */
main {
  flex-grow: 1;
  min-height: calc(100vh - 80px); /* Adjust this value based on your footer height */
}